{% extends "layout/web_base_layout.html" %}
{% load static %}
{% block title %}Bodhi Technology | Gallery{% endblock %}


{% block content %}    
      

  <br>


     <!-- School Gallery -->
     <section class="content">
        <div class="container-fluid">
       <div class="card default-card">
        <div class="card-header card-outline card-primary">
          <h3 class="card-title" style="color: #6b2014;">School Gallery</h3> 
        
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
           </div>
        </div>
        <!-- /.card-header -->
      
        <div class="card-body ">
          <div class="row">
            <div class="col-md-12">
            

                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="our-team">
                                <div class="pic">
                                    <img src="{% static 'assets/dist/img/key_member/img-1.jpg'%}">
                                </div>
                                <div class="team-content">
                                    <h3 class="title">Williamson</h3>
                                    <span class="post">Web Developer</span>
                                    <ul class="social">
                                        <li><a href="#" class="fab fa-facebook"></a></li>
                                        <li><a href="#" class="fab fa-twitter"></a></li>
                                        <li><a href="#" class="fab fa-google-plus"></a></li>
                                        <li><a href="#" class="fab fa-skype"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                 
                        <div class="col-md-3 col-sm-6">
                            <div class="our-team">
                                <div class="pic">
                                    <img src="{% static 'assets/dist/img/key_member/img-1.jpg'%}">
                                </div>
                                <div class="team-content">
                                    <h3 class="title">Kristiana</h3>
                                    <span class="post">Web Designer</span>
                                    <ul class="social">
                                        <li><a href="#" class="fab fa-facebook"></a></li>
                                        <li><a href="#" class="fab fa-twitter"></a></li>
                                        <li><a href="#" class="fab fa-google-plus"></a></li>
                                        <li><a href="#" class="fab fa-skype"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="our-team">
                                <div class="pic">
                                    <img src="{% static 'assets/dist/img/key_member/img-1.jpg'%}">
                                </div>
                                <div class="team-content">
                                    <h3 class="title">Kristiana</h3>
                                    <span class="post">Web Designer</span>
                                    <ul class="social">
                                        <li><a href="#" class="fab fa-facebook"></a></li>
                                        <li><a href="#" class="fab fa-twitter"></a></li>
                                        <li><a href="#" class="fab fa-google-plus"></a></li>
                                        <li><a href="#" class="fab fa-skype"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="our-team">
                                <div class="pic">
                                    <img src="{% static 'assets/dist/img/key_member/img-1.jpg'%}">
                                </div>
                                <div class="team-content">
                                    <h3 class="title">Kristiana</h3>
                                    <span class="post">Web Designer</span>
                                    <ul class="social">
                                        <li><a href="#" class="fab fa-facebook"></a></li>
                                        <li><a href="#" class="fab fa-twitter"></a></li>
                                        <li><a href="#" class="fab fa-google-plus"></a></li>
                                        <li><a href="#" class="fab fa-skype"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
             

            </div>
            <!-- /.col -->
        
            <!-- /.col -->
          </div>
          <!-- /.row -->
        
        </div>
        <!-- /.card-body -->
      
        <div class="card-footer">
          Visit <a href="https://www.bodhitechnology.tech/">Our School </a> for more information about
          
        </div>
      </div>
    </div>
      </section>
      <!-- /.card -->
   <!-- School gallery End -->


{% endblock %}

