{% extends "layout/web_base_layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Bodhi Technology | Contact-Us {% endblock %}


{% block content %}          
      
<br>

 <!-- School Contact -->
 <section class="content">
  <div class="container-fluid">
 <div class="card default-card">
  <div class="card-header card-outline card-primary">
    <h3 class="card-title" style="color: #6b2014;">Contact-Us</h3> 
  
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
     </div>
  </div>
  <!-- /.card-header -->

  <div class="card-body ">
    <div class="row">
      <div class="col-md-12">

                           
          <!-- ======= Contact Us Section ======= -->
 <section id="contact" class="contact">
  <div class="container">
   
    <div class="section-title">
      <h1 style="text-align: center;color: #6b2014;">Contact Us</h1>
      <p style="text-align: center;">Contact us to grow your business with us </p>
    </div>

    <div class="row">

      <div class="col-lg-5 d-flex align-items-stretch" >
        <div class="info">
          <div class="address">
              <i class="fa fa-map-marker" aria-hidden="true"></i>

            <h4>Location:</h4>
            <p>Bodhi Technology,Limayewadi, Solapur, Maharashtra 413004</p>
          </div>

          <div class="email">
              <i class="fa fa-envelope" aria-hidden="true"></i>

            <h4>Email:</h4>
            <p>bodhi.technology@outlook.com</p>
          </div>

          <div class="phone">
              <i class="fa fa-phone fa-flip-horizontal" aria-hidden="true"></i>

            <h4>Call:</h4>
            <p>+91 8007915552</p>
          </div>

          <div class="embed-responsive embed-responsive-16by9">
              
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3801.947052414943!2d75.88745471425884!3d17.652666587920177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc5d1ab949b2ebd%3A0xa9f00451c79a5eb!2sBodhi%20Technology!5e0!3m2!1sen!2sin!4v1597165706462!5m2!1sen!2sin" width="500" height="550" frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>
            </div>
         
        </div>

      </div>
     
      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <div  class="php-email-form" id="myform">
          <form method="post">
            {% csrf_token %}
          
           
            <div class="row">
              <div class="col-6">
                {{ form.name|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.email|as_crispy_field }}
              </div>
            </div>
            {{ form.subject|as_crispy_field }}
            {{ form.message|as_crispy_field }}
           
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>
  

      
        <!-- <form action="getformdata" method="post" role="form" class="php-email-form" id="myform">
         
           <div class="form-row">
             <div class="form-group col-md-6">
           
               <label for="name">Your Name</label>
               <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars"  />
               <div class="validate"></div>
             </div>
             <div class="form-group col-md-6">
               <label for="name">Your Email</label>
               <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
               <div class="validate"></div>
             </div>
           </div>
           <div class="form-group">
             <label for="name">Subject</label>
             <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
             <div class="validate"></div>
           </div>
           <div class="form-group">
             <label for="name">Message</label>
             <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
             <div class="validate"></div>
           </div>
           <div class="mb-3">
             <div class="loading">Loading</div>
             <div class="error-message"></div>
             <div class="sent-message">Your message has been sent. Thank you!</div>
           </div>
           <div class="text-center"><button type="submit">Send Message</button></div>
         </form> -->
      </div>
      </div>
      <div> 
        {% for message in messages %}
        <h1>{{message}} </h1>
        {% endfor %}
   
    </div>

    </div>

  </div>
</section><!-- End Contact Us Section -->


       

      </div>
      <!-- /.col -->
  
      <!-- /.col -->
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.card-body -->

  <div class="card-footer">
    Visit <a href="https://www.bodhitechnology.tech/">Our School </a> for more information about
    
  </div>
</div>
</div>
</section>
<!-- /.card -->
<!-- School Contact End -->





      {% endblock %}