{% extends "layout/web_base_layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{company}} | Covid-19 {% endblock %}


{% block content %}          
      
<br>

 <!-- School Contact -->
 <section class="content">
  <div class="container-fluid">
 <div class="card default-card">
  <div class="card-header card-outline card-primary">
    <h3 class="card-title" style="color: #6b2014;">Contact-Us</h3> 
  
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
     </div>
  </div>
  <!-- /.card-header -->

  <div class="card-body ">
    <div class="row">
      <div class="col-md-12">

                           
          <!-- ======= Contact Us Section ======= -->
 <section id="contact" class="contact">
  <div class="container">
   
    <div class="section-title">
      <h1 style="text-align: center;color: #6b2014;">Covid-19</h1>
      <p style="text-align: center;">If you have any symptoms of Covid-19 then contact us </p>
    </div>

    <div class="row">

      <div class="col-lg-12 d-flex align-items-stretch" >

         <!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        
        <!-- Default box -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Covid-19 - Fill your details</h3>
          
          </div>
          
          <form method="POST" >
           {% csrf_token %}
          <div class="card-body">
            <div class="row">
             
            
             <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                {{ form.pName|as_crispy_field }}
              </div>
            </div>

            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                {{ form.age|as_crispy_field }}
              </div>
            </div>

            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                {{ form.sex|as_crispy_field }}
              </div>
            </div>

            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                {{ form.weight|as_crispy_field }}
              </div>
            </div>

            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                {{ form.address|as_crispy_field }}
              </div>
            </div>

            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                {{ form.date_of_checkup|as_crispy_field }}
              </div>
            </div>


            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                {{ form.pMobile|as_crispy_field }}
              </div>
            </div>
            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                {{ form.pulse|as_crispy_field }}
              </div>
            </div>

            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                {{ form.blood_pressure|as_crispy_field }}
              </div>
            </div>
           
            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                {{ form.temprature|as_crispy_field }}
              </div>
            </div>

            <div class="col-sm-4">
              <!-- text input -->
              <div class="form-group">
                {{ form.spo2|as_crispy_field }}
              </div>
            </div>

            <div class="col-sm-6">
              <!-- text input -->
              <div class="form-group">
                {{ form.symptoms|as_crispy_field }}
              </div>
            </div>


            <div class="col-sm-6">
              <!-- text input -->
              <div class="form-group">
                {{ form.comorbidity_existing_disease|as_crispy_field }}
              </div>
            </div>
                       
          </div>   <!-- /.row -->
          <!-- /.card-body -->
          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
                   

          <!-- /.card-footer-->
        </div>
      </form>


      
        <!-- /.card -->

      </div>
      </div>
    </div>
  </div>
</section>
<!-- /.content -->

        <!-- <div class="info">
          <div class="address">
              <i class="fa fa-map-marker" aria-hidden="true"></i>

            <h4>Location:</h4>
            <p>Bodhi Technology,Limayewadi, Solapur, Maharashtra 413004</p>
          </div>

          <div class="email">
              <i class="fa fa-envelope" aria-hidden="true"></i>

            <h4>Email:</h4>
            <p>bodhi.technology@outlook.com</p>
          </div>

          <div class="phone">
              <i class="fa fa-phone fa-flip-horizontal" aria-hidden="true"></i>

            <h4>Call:</h4>
            <p>+91 8007915552</p>
          </div>

          <div class="embed-responsive embed-responsive-16by9">
              
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3801.947052414943!2d75.88745471425884!3d17.652666587920177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc5d1ab949b2ebd%3A0xa9f00451c79a5eb!2sBodhi%20Technology!5e0!3m2!1sen!2sin!4v1597165706462!5m2!1sen!2sin" width="500" height="550" frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>
            </div>
         
        </div> -->


        
      </div>

      <!-- <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
      <div  class="php-email-form" id="myform">
        <form method="post">
       
        
         
          <div class="row">
            <div class="col-6">
              filed here
            </div>
            <div class="col-6">
              filed here
            </div>
          </div>
          filed here
         
         
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>
      </div> -->




    </div>

  </div>
</section><!-- End Contact Us Section -->


       

      </div>
      <!-- /.col -->
  
      <!-- /.col -->
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.card-body -->

  
</div>
</div>
</section>
<!-- /.card -->
<!-- School Contact End -->





      {% endblock %}