{% extends "layout/web_base_layout.html" %}
{% load static %}
{% block title %}Bodhi Technology | Index{% endblock %}


{% block content %}

<br>

     <!-- School Features -->
     <section class="content">
        <div class="container-fluid">
       <div class="card default-card">
        <div class="card-header card-outline card-primary">
          <h3 class="card-title" style="color: #6b2014;">School Features</h3> 
        
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
           </div>
        </div>
        <!-- /.card-header -->
      
        <div class="card-body ">
          <div class="row">
            <div class="col-md-12">
 
                           
                
           <!-- Main content -->
           <section class="content">
            <div class="container-fluid">
              <!-- Small boxes (Stat box) -->
              <div class="row">
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-info" >
                    <div class="inner">
                      <h2 style="color: black;">Certified Teachers</h2>
      
                      <p style="color: black;">At Bodhi vidya mandir school teachers ability to deal with children, their thought process and their understanding of child psychology. Furthermore, This ensures that each student gets the benefit of personalized attention from highly qualified and trained tutors, who have been chosen for their dedication, competence and compassion that has made the school a role model for other institutions.we maintains the standard we prescribe for our teachers.</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer" style="color: black;">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-success">
                    <div class="inner">
                      <h2>Education</h2>
      
                      <p>The management, staff and students are committed to this aim and work tirelessly to obtain the excellence in the academics, co-curricular, extra-curricular areas and be happily productive in their lives. The aim of the school is to provide depth based knowledge adapting new technology. We have rated ourselves as the toppers in the district to reach the heights in the field of education. We providing the advanced knowledge based education, We maintain healthy teaching learning relationship.</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-warning">
                    <div class="inner">
                      <h2>Book & Library</h2>
      
                      <p>Since the very first exposure to a child is through the visual medium and the written word, the school has created a friendly world of knowledge. The library where a wide range of books, comics, textbooks, encyclopedia, novels, expose children of all ages to a fascinating world. The reading habit is encouraged in the libraries cheerful, neat and spacious environs, where children learn to relax and enjoy reading.</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-person-add"></i>
                    </div>
                    <br>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-danger">
                    <div class="inner">
                      <h2>Infrastructure</h2>
      
                      <p>The school building has been specially designed to give it a contemporary, stylish look. The classrooms are well ventilated with black boards to provide an ideal sanctum for academic progress to take place. Each class has a maximum of 60 pupils. The school has excellent infrastructure viz, air cooled school building, vast playground and spacious classroom.</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-pie-graph"></i>
                    </div>
                    <br><br>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
              </div>
              <!-- /.row -->
                
    
            </div><!-- /.container-fluid -->
          </section>
          <!-- /. Main content -->

             


             

            </div>
            <!-- /.col -->
        
            <!-- /.col -->
          </div>
          <!-- /.row -->
        
        </div>
        <!-- /.card-body -->
      
        <div class="card-footer">
          Visit <a href="https://www.bodhitechnology.tech/">Our School </a> for more information about
          
        </div>
      </div>
    </div>
      </section>
      <!-- /.card -->
   <!-- School Features End -->
      
  

<br>


 <!-- School About -->
 <section class="content">
    <div class="container-fluid">
   <div class="card default-card">
    <div class="card-header card-outline card-primary">
      <h3 class="card-title" style="color: #6b2014;">About Us</h3> 
    
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
       </div>
    </div>
    <!-- /.card-header -->
  
    <div class="card-body ">
      <div class="row">
        <div class="col-md-12">

                             
            <p style="text-align:center;">Bodhi Vidya Mandir & Junior College comprises of pre-primary section,Primary section,Higher secondary and Jr.College.
                The school follows Maharashtra State Board Curriculum and the medium of instruction is Marathi for School and junior college have three main stream i.e. Science,Commerce & Arts. </p>
              <ul type="square">
                <li>Maharashtra State Board Pattern based curriculum.</li>
                <li>Value based education by qualified experienced and dedicated staff.</li>
                <li>Aims at maximum participation for the maximum number of students in a wide range of co-curricular activities.</li>
                <li>Special emphasis on all-round development on students personality.</li>
                <li>Self secure and soothing learning environment for the children.</li>
                <li>Excellent infrastructure viz, air cooled school building, vast playgrounds, spacious classroom.</li>
                <li>Well stocked library, well equipped science and computer labs, remedial classes for weak students. </li>
              </ul>

         

        </div>
        <!-- /.col -->
    
        <!-- /.col -->
      </div>
      <!-- /.row -->
    
    </div>
    <!-- /.card-body -->
  
    <div class="card-footer">
      Visit <a href="https://www.bodhitechnology.tech/">Our School </a> for more information about
      
    </div>
  </div>
</div>
  </section>
  <!-- /.card -->
<!-- School About End -->


<br>


     <!-- School Key Members -->
     <section class="content">
        <div class="container-fluid">
       <div class="card default-card">
        <div class="card-header card-outline card-primary">
          <h3 class="card-title" style="color: #6b2014;">School Key Members</h3> 
        
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
           </div>
        </div>
        <!-- /.card-header -->
      
        <div class="card-body ">
          <div class="row">
            <div class="col-md-12">
            

                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="our-team">
                                <div class="pic">
                                    <img src="{% static 'assets/dist/img/key_member/img-1.jpg'%}">
                                </div>
                                <div class="team-content">
                                    <h3 class="title">Williamson</h3>
                                    <span class="post">Web Developer</span>
                                    <ul class="social">
                                        <li><a href="#" class="fab fa-facebook"></a></li>
                                        <li><a href="#" class="fab fa-twitter"></a></li>
                                        <li><a href="#" class="fab fa-google-plus"></a></li>
                                        <li><a href="#" class="fab fa-skype"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                 
                        <div class="col-md-3 col-sm-6">
                            <div class="our-team">
                                <div class="pic">
                                    <img src="{% static 'assets/dist/img/key_member/img-1.jpg'%}">
                                </div>
                                <div class="team-content">
                                    <h3 class="title">Kristiana</h3>
                                    <span class="post">Web Designer</span>
                                    <ul class="social">
                                        <li><a href="#" class="fab fa-facebook"></a></li>
                                        <li><a href="#" class="fab fa-twitter"></a></li>
                                        <li><a href="#" class="fab fa-google-plus"></a></li>
                                        <li><a href="#" class="fab fa-skype"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="our-team">
                                <div class="pic">
                                    <img src="{% static 'assets/dist/img/key_member/img-1.jpg'%}">
                                </div>
                                <div class="team-content">
                                    <h3 class="title">Kristiana</h3>
                                    <span class="post">Web Designer</span>
                                    <ul class="social">
                                        <li><a href="#" class="fab fa-facebook"></a></li>
                                        <li><a href="#" class="fab fa-twitter"></a></li>
                                        <li><a href="#" class="fab fa-google-plus"></a></li>
                                        <li><a href="#" class="fab fa-skype"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="our-team">
                                <div class="pic">
                                    <img src="{% static 'assets/dist/img/key_member/img-1.jpg'%}">
                                </div>
                                <div class="team-content">
                                    <h3 class="title">Kristiana</h3>
                                    <span class="post">Web Designer</span>
                                    <ul class="social">
                                        <li><a href="#" class="fab fa-facebook"></a></li>
                                        <li><a href="#" class="fab fa-twitter"></a></li>
                                        <li><a href="#" class="fab fa-google-plus"></a></li>
                                        <li><a href="#" class="fab fa-skype"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
             

            </div>
            <!-- /.col -->
        
            <!-- /.col -->
          </div>
          <!-- /.row -->
        
        </div>
        <!-- /.card-body -->
      
        <div class="card-footer">
          Visit <a href="https://www.bodhitechnology.tech/">Our School </a> for more information about
          
        </div>
      </div>
    </div>
      </section>
      <!-- /.card -->
   <!-- School Key Members End -->



   <br>


   <!-- School toppers -->
   <section class="content">
      <div class="container-fluid">
     <div class="card default-card">
      <div class="card-header card-outline card-primary">
        <h3 class="card-title" style="color: #6b2014;">School Toppers</h3> 
      
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
         </div>
      </div>
      <!-- /.card-header -->
    
      <div class="card-body ">
        <div class="row">
          <div class="col-md-12">
          

              <div class="container">
                  <div class="row">
                      <div class="col-md-3 col-sm-6">
                          <div class="our-team">
                              <div class="pic">
                                  <img src="{% static 'assets/dist/img/topper/img-2.jpg'%}">
                              </div>
                              <div class="team-content">
                                  <h3 class="title">Williamson</h3>
                                  <span class="post">Web Developer</span>
                                  <ul class="social">
                                      <li><a href="#" class="fab fa-facebook"></a></li>
                                      <li><a href="#" class="fab fa-twitter"></a></li>
                                      <li><a href="#" class="fab fa-google-plus"></a></li>
                                      <li><a href="#" class="fab fa-skype"></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
               
                      <div class="col-md-3 col-sm-6">
                          <div class="our-team">
                              <div class="pic">
                                  <img src="{% static 'assets/dist/img/key_member/img-1.jpg'%}">
                              </div>
                              <div class="team-content">
                                  <h3 class="title">Kristiana</h3>
                                  <span class="post">Web Designer</span>
                                  <ul class="social">
                                      <li><a href="#" class="fab fa-facebook"></a></li>
                                      <li><a href="#" class="fab fa-twitter"></a></li>
                                      <li><a href="#" class="fab fa-google-plus"></a></li>
                                      <li><a href="#" class="fab fa-skype"></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-3 col-sm-6">
                          <div class="our-team">
                              <div class="pic">
                                  <img src="{% static 'assets/dist/img/topper/img-2.jpg'%}">
                              </div>
                              <div class="team-content">
                                  <h3 class="title">Kristiana</h3>
                                  <span class="post">Web Designer</span>
                                  <ul class="social">
                                      <li><a href="#" class="fab fa-facebook"></a></li>
                                      <li><a href="#" class="fab fa-twitter"></a></li>
                                      <li><a href="#" class="fab fa-google-plus"></a></li>
                                      <li><a href="#" class="fab fa-skype"></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-3 col-sm-6">
                          <div class="our-team">
                              <div class="pic">
                                  <img src="{% static 'assets/dist/img/key_member/img-1.jpg'%}">
                              </div>
                              <div class="team-content">
                                  <h3 class="title">Kristiana</h3>
                                  <span class="post">Web Designer</span>
                                  <ul class="social">
                                      <li><a href="#" class="fab fa-facebook"></a></li>
                                      <li><a href="#" class="fab fa-twitter"></a></li>
                                      <li><a href="#" class="fab fa-google-plus"></a></li>
                                      <li><a href="#" class="fab fa-skype"></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-3 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="{% static 'assets/dist/img/topper/img-2.jpg'%}">
                            </div>
                            <div class="team-content">
                                <h3 class="title">Kristiana</h3>
                                <span class="post">Web Designer</span>
                                <ul class="social">
                                    <li><a href="#" class="fab fa-facebook"></a></li>
                                    <li><a href="#" class="fab fa-twitter"></a></li>
                                    <li><a href="#" class="fab fa-google-plus"></a></li>
                                    <li><a href="#" class="fab fa-skype"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="{% static 'assets/dist/img/topper/img-2.jpg'%}">
                            </div>
                            <div class="team-content">
                                <h3 class="title">Kristiana</h3>
                                <span class="post">Web Designer</span>
                                <ul class="social">
                                    <li><a href="#" class="fab fa-facebook"></a></li>
                                    <li><a href="#" class="fab fa-twitter"></a></li>
                                    <li><a href="#" class="fab fa-google-plus"></a></li>
                                    <li><a href="#" class="fab fa-skype"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="{% static 'assets/dist/img/topper/img-2.jpg'%}">
                            </div>
                            <div class="team-content">
                                <h3 class="title">Kristiana</h3>
                                <span class="post">Web Designer</span>
                                <ul class="social">
                                    <li><a href="#" class="fab fa-facebook"></a></li>
                                    <li><a href="#" class="fab fa-twitter"></a></li>
                                    <li><a href="#" class="fab fa-google-plus"></a></li>
                                    <li><a href="#" class="fab fa-skype"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="{% static 'assets/dist/img/topper/img-2.jpg'%}">
                            </div>
                            <div class="team-content">
                                <h3 class="title">Kristiana</h3>
                                <span class="post">Web Designer</span>
                                <ul class="social">
                                    <li><a href="#" class="fab fa-facebook"></a></li>
                                    <li><a href="#" class="fab fa-twitter"></a></li>
                                    <li><a href="#" class="fab fa-google-plus"></a></li>
                                    <li><a href="#" class="fab fa-skype"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                  </div>
              </div>
           

          </div>
          <!-- /.col -->
      
          <!-- /.col -->
        </div>
        <!-- /.row -->
      
      </div>
      <!-- /.card-body -->
    
      <div class="card-footer">
        Visit <a href="https://www.bodhitechnology.tech/">Our School </a> for more information about
        
      </div>
    </div>
  </div>
    </section>
    <!-- /.card -->
 <!-- School toppers End -->

 








 {% endblock %}