{% extends "layout/web_base_layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{company}} | Index{% endblock %}


{% block content %}



<!-- Carousel Start -->
<section class="content" style="background-image: url('{% static 'assets/dist/img/carousel/b.jpg'%}');">
  <div class="container-fluid">
        


    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="mask flex-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7 col-12 order-md-1 order-2">
                  <h4> Book an appointment for an <br>in-clinic consultation</h4>
                  <p>Instant appointment with doctors <br><i> Instant appointment with doctors </i> </p>
                  <a href="#" data-toggle="modal" data-target="#modal-lg">Book-Appointment</a> </div>
                <div class="col-md-5 col-12 order-md-2 order-1"><img src="{% static 'assets/dist/img/carousel/1.png' %}" class="mx-auto" alt="slide"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="mask flex-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7 col-12 order-md-1 order-2">
                  <h4>Consult Your doctor online for any health concern</h4>
                  <p>Health Checkups and Screenings For Diabetic,Cancer,Skin Care ,Kidney and Urine,Digestive Health,Sexual Health,Bones and Joints,Fever <br><i> Get health checkups from the comfort of your home. </i> </p>
                  <a href="{% url 'consultation' %}">Consult Now</a> </div>
                <div class="col-md-5 col-12 order-md-2 order-1"><img src="{% static 'assets/dist/img/carousel/2.png' %}" class="mx-auto" alt="slide"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="mask flex-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7 col-12 order-md-1 order-2">
                  <h4>Diagnostic <br> Book Diagnostic Tests</h4>
                  <p>Health Checkups and Screenings For Diabetic,Cancer,Skin Care ,Kidney and Urine,Digestive Health,Sexual Health,Bones and Joints,Fever <br><i> Get lab tests and full body checkups from the comfort of your home </i> </p>
                  <a href="{% url 'diagnostic' %}"> Book Diagnostic</a> </div>
                <div class="col-md-5 col-12 order-md-2 order-1"><img src="{% static 'assets/dist/img/carousel/3.png' %}" class="mx-auto" alt="slide"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="mask flex-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7 col-12 order-md-1 order-2">
                  <h4>Pharmacy <br>
                    Genuine Medicines </h4>
                  <p>All medicines and health products are sourced from doctors trusted network of verified pharmacies and medical stores<br><i>Order Medicines & Health Products Online : India's most reliable Online Medical Store</i></p>
                  <a href="{% url 'pharmacy' %}">Order Now</a> </div>
                <div class="col-md-5 col-12 order-md-2 order-1"><img src="{% static 'assets/dist/img/carousel/4.png' %}" class="mx-auto" alt="slide"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="mask flex-center">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-7 col-12 order-md-1 order-2">
                  <h4>Download Android App 
                     </h4>
                  <p>Connect your Doctor online via your smartphone</p>
                  <a href="{% url 'pharmacy' %}">Download App</a> </div>
                <div class="col-md-5 col-12 order-md-2 order-1"><img src="{% static 'assets/dist/img/carousel/4.png' %}" class="mx-auto" alt="slide"></div>
              </div>
            </div>
          </div>
        </div>
  
  
      </div>
       
    <!--slide end--> 
       

</div>
</section>
<!-- /.card -->
 <!-- Carousel End -->

<br>
     <!-- Contact Us -->

     <section class="content">
      <div class="container-fluid">
     <div class="card default-card">
         
      <div class="card-body ">
        <div class="row">
          <div class="col-md-12">

                         
               <!-- ======= Contact Us Section ======= -->
 <section id="contact" class="contact">
  <div class="container">
   
    <div class="section-title">
      <h1 style="text-align: center;color: #6b2014;">Visit Clinic</h1>
      <p style="text-align: center;">Visit Clinic to full health checkup </p>
    </div>

    <div class="row">

      <div class="col-lg-7 d-flex align-items-stretch" >
        <div class="info">
          <div class="address">
              <i class="fa fa-map-marker" aria-hidden="true"></i>

            <h4>Location:</h4>
            <p>Bodhi Technology,Limayewadi, Solapur, Maharashtra 413004</p>
          </div>

          <div class="email">
              <i class="fa fa-envelope" aria-hidden="true"></i>

            <h4>Email:</h4>
            <p>bodhi.technology@outlook.com</p>
          </div>

          <div class="phone">
              <i class="fa fa-phone fa-flip-horizontal" aria-hidden="true"></i>

            <h4>Call:</h4>
            <p>+91 8007915552</p>
          </div>

          <div class="embed-responsive embed-responsive-16by9">
              
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3801.947052414943!2d75.88745471425884!3d17.652666587920177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc5d1ab949b2ebd%3A0xa9f00451c79a5eb!2sBodhi%20Technology!5e0!3m2!1sen!2sin!4v1597165706462!5m2!1sen!2sin" width="500" height="550" frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>
            </div>
         
        </div>

      </div>

      <div class="col-lg-5 mt-5 mt-lg-0 d-flex align-items-stretch">
<div class="php-email-form"> 
  <h4 style="text-align: center;color: #6b2014;">Visiting Hours</h4>
  <table class="redTable">
    <thead>
    <tr>
    <th>Day</th>
    <th>Morning</th>
    <th>Evening</th>
    </tr>
    </thead>
  
    <tbody>
    <tr>
    <td>Monday</td>
    <td>11:00 AM - 01:00 PM</td>
    <td>05:00 PM - 09:00 PM</td>
    </tr>
    <tr>
    <td>Tuesday </td>
    <td>11:00 AM - 01:00 PM</td>
    <td>05:00 PM - 09:00 PM</td>
    </tr>
    <tr>
    <td>Wednesday </td>
    <td>11:00 AM - 01:00 PM</td>
    <td>05:00 PM - 09:00 PM</td>
    </tr>
    <tr>
    <td>Thursday </td>
    <td>11:00 AM - 01:00 PM</td>
    <td>05:00 PM - 09:00 PM</td>
    </tr>
    <tr>
    <td>Friday</td>
    <td>11:00 AM - 01:00 PM</td>
    <td>05:00 PM - 09:00 PM</td>
    </tr>
    <tr>
      <td>Saturday </td>
      <td>11:00 AM - 01:00 PM</td>
      <td>05:00 PM - 09:00 PM</td>
      </tr>
    </tbody>
    </table>
    <br>
  <div>
    <h4 style="text-align: center;color: #6b2014;"> Book an appointment for an in-clinic consultation</h4>
    <a href="#"><img src="{% static 'assets/dist/img/apntmnt/11.png'%}" style="width: 100%;height: auto;" data-toggle="modal" data-target="#modal-lg"/> </a>
      

  </div>
</div>
        
      </div>

    </div>

  </div>
</section><!-- End Contact Us Section -->
 

          </div>
          <!-- /.col -->
      
          <!-- /.col -->
        </div>
        <!-- /.row -->
      
      </div>
      <!-- /.card-body -->
    
      <div class="card-footer">
        Visit <a href="https://www.bodhitechnology.tech/">Clinic </a>to full health checkup 
        
      </div>
    </div>
  </div>
    </section>
    <!-- /.card -->
 <!-- Contact Us End -->
  


<!-- About Doctor-->
     <section class="content">
        <div class="container-fluid">
       <div class="card default-card">
        <div class="card-header card-outline card-primary">
          <h3 class="card-title" style="color: #6b2014;">About Doctor</h3> 
        
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
           </div>
        </div>
        <!-- /.card-header -->
      
        <div class="card-body ">
          <div class="row">
            <div class="col-md-12">
<p><h1>Add here Doctor’s bio with pic - Specializations,Education,Experience,Awards & Recognitions,Memberships</h1></p>
<p><h4>and add some sentense about doctor ,how he/she have below qualities </h4></p>
              <p>Here are the seven traits listed by the patients, along with the patients' definitions of those traits: </p>
              <ul type="square">
                <li>Confident: "The doctor's confidence gives me confidence."</li>
                  <li>Empathetic: "The doctor tries to understand what I am feeling and experiencing, physically and emotionally, and communicates that understanding to me."</li>
                    <li>Humane: "The doctor is caring, compassionate, and kind."</li>
                      <li>Personal: "The doctor is interested in me more than just as a patient, interacts with me, and remembers me as an individual."</li>
                        <li>Forthright: "The doctor tells me what I need to know in plain language and in a forthright manner."</li>
                          <li>Respectful: "The doctor takes my input seriously and works with me."</li>
                            <li>Thorough: "The doctor is conscientious and persistent."</li>

                </ul>
            
            <p>That list isn't in any particular order. The researchers didn't check whether confidence was more important to patients than respectful treatment, for instance. </p>
             

            </div>
            <!-- /.col -->
        
            <!-- /.col -->
          </div>
          <!-- /.row -->
        
        </div>
        <!-- /.card-body -->
      
        <div class="card-footer">
          Visit <a href="https://www.bodhitechnology.tech/">Clinic </a>to full health checkup 
          
        </div>
      </div>
    </div>
      </section>
      <!-- /.card -->
   <!-- About Doctor End -->
      
  

<br>


 <!-- Clinic About -->
 <section class="content">
    <div class="container-fluid">
   <div class="card default-card">
    <div class="card-header card-outline card-primary">
      <h3 class="card-title" style="color: #6b2014;">About Clinic</h3> 
    
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
       </div>
    </div>
    <!-- /.card-header -->
  
    <div class="card-body ">
      <div class="row">
        <div class="col-md-12">

                             
            <p style="text-align:center;">Add here Clinic’s photographs with features... like hygienic envirounment </p>
         <p>Clinic profile would be pretty much same as doctor profile, except for a couple of extra features and a different layout. Notable features for the clinic profile page include:

         
          Other Doctors who practice there
      </p>

        </div>
        <!-- /.col -->
    
        <!-- /.col -->
      </div>
      <!-- /.row -->
    
    </div>
    <!-- /.card-body -->
  
    <div class="card-footer">
      Visit <a href="https://www.bodhitechnology.tech/">Clinic </a>to full health checkup 
      
    </div>
  </div>
</div>
  </section>
  <!-- /.card -->
<!-- Clinic About End -->





 <!-- modal Appointment -->
 <div class="modal fade" id="modal-lg">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Book-Appointment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form method="POST" >
          {% csrf_token %}
         
        
          <div class="row">
           
          
           <div class="col-sm-3">
            <!-- text input -->
            <div class="form-group">
              {{ appointment_form.pName|as_crispy_field }}
            </div>
          </div>
          <div class="col-sm-3">
            <!-- text input -->
            <div class="form-group">
              {{ appointment_form.age|as_crispy_field }}
            </div>
          </div>
          <div class="col-sm-3">
            <!-- text input -->
            <div class="form-group">
              {{ appointment_form.sex|as_crispy_field }}
            </div>
          </div>
          
          <div class="col-sm-3">
            <!-- text input -->
            <div class="form-group">
              {{ appointment_form.appointment_date|as_crispy_field }}
            </div>
          </div>
          <div class="col-sm-3">
            <!-- text input -->
            <div class="form-group">
              {{ appointment_form.pMobile|as_crispy_field }}
            </div>
          </div>
         
          
                  
        </div>   <!-- /.row -->
        
                       
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      
    </form>      
      </div>
      
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal Appointment End -->

     
 








 {% endblock %}