{% extends "layout/web_base_layout.html" %}
{% load static %}
{% block title %}Bodhi Technology | Get-Admission {% endblock %}


{% block content %}          
      
  <br>



 <!-- School contact info -->
 <section class="content">
  <div class="container-fluid">
 <div class="card default-card">
  <div class="card-header card-outline card-primary">
    <h3 class="card-title" style="color: #6b2014;">Contact Us</h3> 
  
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
     </div>
  </div>
  <!-- /.card-header -->

  <div class="card-body ">
    <div class="row">
      <div class="col-md-12">

                           
       
        <address >
        
           <p><span >Bodhi Vidya Mandir & Junior College,Tal.North Solapur,Dist-Solapur</span>  </p>           
           <p><span >+91 8007915552/8007915552</span></p>
           <p><span >bodhi.technology@outlook.com</span></p>
        
         </address>

       

      </div>
      <!-- /.col -->
  
      <!-- /.col -->
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.card-body -->

  <div class="card-footer">
    Visit <a href="https://www.bodhitechnology.tech/">Our School </a> for more information about
    
  </div>
</div>
</div>
</section>
<!-- /.card -->
<!-- School contact info End -->



 <!-- School Admission -->
 <section class="content">
  <div class="container-fluid">
 <div class="card default-card">
  <div class="card-header card-outline card-primary">
    <h3 class="card-title" style="color: #6b2014;">Get Admission</h3> 
  
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
     </div>
  </div>
  <!-- /.card-header -->

  <div class="card-body ">
    <div class="row">
      <div class="col-md-12">

                     
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdkWPSUAEEhyIdgg8pUh3BvSjx2PeTX8jdY1xLlpBIG35LixQ/viewform?embedded=true" width="640" height="1249" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
          
          </div>      

      </div>
      <!-- /.col -->
  
      <!-- /.col -->
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.card-body -->

  <div class="card-footer">
    Visit <a href="https://www.bodhitechnology.tech/">Our School </a> for more information about
    
  </div>
</div>
</div>
</section>
<!-- /.card -->
<!-- School Addmision End -->



 

 
  






      {% endblock %}