{% extends "layout/admin_base_layout.html" %}
{% load static %}
{% block title %}{{company}} | Covid19{% endblock %}


{% block content %}
<br>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Patient Appointments</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Sr.No.</th>
        <th>Patient Name</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Date of Checkup</th>
        <th>Patient Mobile</th>
        <th>Weight</th>
        <th>Pulse</th>
        <th>Blood pressure</th>
        <th>temprature</th>
        <th>spo2</th>
        <th>Comorbidity_existing_disease</th>
        <th>Symptoms</th>
      </tr>
      </thead>
      <tbody>
        {% for a in covid %}
      <tr>
        <td>{{forloop.counter}}</td>
        <!-- check model filed name and use here .... replace pName with model filed name -->
        <td>{{a.pName}}</td>
        <td> {{a.pName}}</td>
        <td>{{a.pName}}</td>
        <td> {{a.pName}}</td>
        <td>{{a.pName}}</td>
        <td> {{a.pName}}</td>
        <td>{{a.pName}}</td>
        <td> {{a.pName}}</td>
        <td>{{a.pName}}</td>
        <td> {{a.pName}}</td>
        <td>{{a.pName}}</td>
        <td> {{a.pName}}</td>
        <td>{{a.pName}}</td>
      </tr>
{% endfor %}





      </tbody>
       <tfoot>
      <tr>
        <th>Sr.No.</th>
        <th>Patient Name</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Date of Checkup</th>
        <th>Patient Mobile</th>
        <th>Weight</th>
        <th>Pulse</th>
        <th>Blood pressure</th>
        <th>temprature</th>
        <th>spo2</th>
        <th>Comorbidity_existing_disease</th>
        <th>Symptoms</th>
      </tr>
      </tfoot> 
     
    </table>
    <div >
   <a href="#"  > <input type="button" value="print"/>  </a>
   <a href="#" > <input type="button" value="Export"/>  </a>
  </div>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->

     
{% endblock %}