{% extends "layout/admin_base_layout.html" %}
{% load static %}
{% block title %}{{company}} | Dashboard{% endblock %}


{% block content %}

<br>
    
    
           <!-- Main content -->
           <section class="content">
            <div class="container-fluid">
              <!-- Small boxes (Stat box) -->
              <div class="row">
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-info">
                    <div class="inner">
                      <h3>{{appoint}}</h3>
      
                      <p>Todays Appointments</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-bag"></i>
                    </div>
                    <a href="{% url 'admin_appointment' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-success">
                    <div class="inner">
                      <h3>{{covid}}</h3>
                        <!-- <sup style="font-size: 20px">%</sup> -->
      
                      <p>Covid19 Patients</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="{% url 'admin_covid19' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
                
              </div>
              <!-- /.row -->
                
    
            </div><!-- /.container-fluid -->
          </section>
          <!-- /. Main content -->  
    
    
{% endblock %}