{% extends "layout/admin_base_layout.html" %}
{% load static %}
{% block title %}{{company}} | Precription{% endblock %}


{% block content %}
<br>
<div class="container">
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Patients Precription</h3>
    <div>
      {% if messages %}          
      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
      {% endfor %}
      {% endif %} </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Sr.No.</th>
        <th>Patient Name</th>
        <th>Patient Lastname</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>mobile</th>
        <th>email</th>
        <th>address</th>
        <th>phto</th>
        <th> Precription</th>
      </tr>
      </thead>
      <tbody>
        {% for xyz in pregisterdata %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{xyz.fname}}</td>
        <td>{{xyz.lname}}</td>
        <td>{{xyz.dob}}</td>
        <td>{{xyz.gender}}</td>
        <td>{{xyz.mobile}}</td>
        <td>{{xyz.email}}</td>
        <td>{{xyz.address}}</td>
        <td><img src="{{xyz.imge.url}}"></td>
        <td> <a href="{% url 'addprescr' %}"  data-toggle="tooltip" title="Precription"><i class="fa fa-plus-circle " aria-hidden="true"></i>
        </a> </td>
       
      </tr>
{% endfor %}





      </tbody>
      <tfoot>
      <tr>
        <th>Sr.No.</th>
        <th>Patient Name</th>
        <th>Patient Lastname</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>mobile</th>
        <th>email</th>
        <th>address</th>
        <th>phto</th>
        <th> Precription</th>
      </tr>
      </tfoot> 
     
    </table>
    <div >
   <!-- <a href="#"  > <input type="button" value="print"/>  </a> -->
   <a href="#" > <input type="button" value="Export"/>  </a>
  </div>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->

</div>

     
{% endblock %}