<html>
    <body>
        <p><h1>7)Installing Django
            ~ pip install django
            
            8)Install follwoing for compatibility versions of python
            ~ pip install six
            ~ pip install pillow
            
            9) To start a new Django project, run the command below:
            ~ django-admin startproject myproject
            
            10)for create apps in your project
            ~ python manage.py startapp app1
            
            12)Go to project directory and run server locally
            ~ python manage.py runserver
            
            13) Create "templates" directory in myproject
            --> save all HTML files inside this directory
            
            14) Create "staticdata" directory in myproject
            --> save all JS,CSS,Images files inside this directory
            
            15) Check or Insert following in Settings.py</h1></p>
    </body>
</html>